<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

	<insert id="insertBoard" parameterType="BoardDto">
		INSERT INTO BOARD(
			WRITER,
			EMAIL,
			SUBJECT,
			PASSWORD,
			REG_DATE,
			READ_COUNT,
			CONTENT
		)
		VLAUE(
			#{writer},
			#{subject},
			#{email},
			#{password},
			#{regDate},
			#{readCount},
			#{content}
		)			
	</insert>
	
	<select id="getAllBoard" resultType="BoardDto">
		 SELECT
		 		*
		 FROM
		   		BOARD
		
	</select>
	
	<update id="updateBoard" parameterType="BoardDto">
		UPDATE
				BOARD
		SET
				SUBJECT = #{subject},
				CONTENT = #{content}
		WHERE
				NUM = #{num}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM
				BOARD
		WHERE
				NUM = #{num}
	
	</delete>
</mapper>
		